* {
    --purple: #3d1368;
    --light-purple: #c94ce9;
    --dark-blue: #031652;
}

.html {
    overflow: hidden;
}

/* Hero Image */
.hero {
    background-image: url(../../public/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/* Custom styles for the top navbar */

/* Header icons */

.slash {
    color: #984be5;
    margin-left: -8px;
    transform: rotate(100deg);
}