* {
    --purple: #3d1368;
    --light-purple: #c94ce9;
    --dark-blue: #031652;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--purple) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}

.html {
    overflow: hidden;
}

/* Hero Image */
.hero {
    background-image: url(../../public/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/* Custom styles for the top navbar */

/* Header icons */

.slash {
    color: #984be5;
    margin-left: -8px;
    transform: rotate(100deg);
}